
div {
 background-color: black;
 padding: 50px;
 color: white;
 font-family: sans-serif;
 width: 100px;
 border: 3px blue dashed;
 margin: 10px;
 }

body{
background-image: url("http://wallpapercave.com/wp/aRVXJiL.jpg");
background-size: 1000px 1000px;
   background-repeat: no-repeat;
}
